[Unit]
Description=Caddy Web Server
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Restart=on-abnormal
User=jaid
Group=jaid
ExecStartPre=/bin/mkdir -p /home/jaid/.config/caddy
ExecStart=/usr/local/bin/caddy -log=log.txt -agree=true -envfile=.env -log=stdout -http2=false
ExecReload=/bin/kill -USR1 $MAINPID
KillMode=mixed
KillSignal=SIGQUIT
TimeoutStopSec=5s
LimitNOFILE=1048576
LimitNPROC=512
PrivateTmp=true
PrivateDevices=false
ProtectSystem=full
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
NoNewPrivileges=true
WorkingDirectory=/home/jaid/.config/caddy
StandardOutput=log.txt
StandardError=log.txt


[Install]
WantedBy=multi-user.target
