[Unit]
Description=GitHub Release Writer
After=network.target

[Service]
PermissionsStartOnly=true
ExecStartPre=/usr/bin/npm install --global --allow-root --unsafe-perm github-release-writer
ExecStart=/usr/bin/npx github-release-writer
Environment=NODE_ENV=production "NODE_OPTIONS=--max_old_space_size=4000"
User=jaid
Group=jaid
WorkingDirectory=/home/jaid/.config/GitHub Release Writer
Restart=on-failure
RestartSec=60s
TimeoutStartSec=5m
PrivateTmp=true

[Install]
WantedBy=multi-user.target
