[Unit]
Description=Jaidbot
After=network.target

[Service]
PermissionsStartOnly=true
ExecStartPre=/usr/bin/npm install --global --allow-root --unsafe-perm jaidbot
ExecStart=/usr/bin/npx jaidbot
Environment=NODE_ENV=production "NODE_OPTIONS=--max_old_space_size=4000"
User=jaid
Group=jaid
WorkingDirectory=/home/jaid/.config/Jaidbot
StandardOutput=file:/home/jaid/.config/Jaidbot/log.txt
StandardError=file:/home/jaid/.config/Jaidbot/log.txt
Restart=on-failure
RestartSec=60s
TimeoutStartSec=5m
PrivateTmp=true

[Install]
WantedBy=multi-user.target
