[Unit]
Description=Tweeter Server
After=network.target

[Service]
PermissionsStartOnly=true
ExecStartPre=/usr/bin/npm install --global --allow-root --unsafe-perm tweeter-server
ExecStart=/usr/bin/npx tweeter-server
Environment=NODE_ENV=production "NODE_OPTIONS=--max_old_space_size=4000"
User=jaid
Group=jaid
WorkingDirectory=/home/jaid/.config/Tweeter Server
Restart=on-failure
RestartSec=60s
TimeoutStartSec=5m
PrivateTmp=true

[Install]
WantedBy=multi-user.target
