[Unit]
Description=Uprade npm packages
After=network.target

[Service]
ExecStartPre=/usr/bin/ncu --global
Type=oneshot

[Install]
WantedBy=multi-user.target